* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f9fa;
    color: #333;
}

header {
    text-align: center;
    padding: 40px;
    background: #263159;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background: #1b1a55;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #4cc9f0;
}

.section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.team-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.member {
    width: 250px;
    background: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #263159;
    color: white;
    margin-top: 40px;
}
